//Colors Variables.
$modalBackgroundColor: #44B7C8;
$modalHoverColor: white;
$blocksMainColor: black;
$blockHoverColor: #00cdc8;
$btnHoverColor: #fd342d;

$boderRadius: 3px;

//Size Variables.
$minWidth: 500px;
$maxWidth: 500px;

$minHeight: 800px;

//Position Variables.
$mainTopPosition: 20.5vh;

//Opacity Variables.
$mainOpacity: 0.5;
$secondOpacity: 0.4;
$blockOpacity: 0.6;
$blockOpacityHover: 0.7;