
body{
    margin: 0;
    width: auto;
}

#modalSeccion {
    display: none;
    position: absolute;
}

#contenidoModal {
    background-color: #44B7C8;
    border-radius: 3px;
    font-size: 36px;
    width: 500px;
    height: 726px;
    z-index: 5;
    top: 30vh;
    margin: 0 auto;
    opacity: 0.5;
    position: relative;
}

#mainImg {
    width: 800px;
}


#main-Wrapper {
    margin: 0 auto;
    width: 800px;
}

.block {
    display: inline-block;
    width: 160px;
    height: 100%;
    margin: 20px;
    padding: 0;
    background-color: black;
    opacity: 0.6;
}

#mainBtn {
    width: 160px;
    height: 100%;
    margin: 20px;
    cursor: pointer;
    background-color: black;
    opacity: 0.6;
}


#closeBtn {
    border: #74ac0d;
    cursor: pointer;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#block-Wrapper {
    width: 614px;
    position: absolute;
    top: 100px;
    height: 300px;
    margin: 0 auto;
    right: 0px;
    left: 0px;
}

.block-1 {
    display: inline-block;
    width: 105px;
}
.block-2 {
    display: inline-block;
}
.block-3 {
    display: inline-block;
}