
#modalSeccion {
    display: none; 
    left: 0;
    top: 0;
    height: 100%;
    width: 100%; 
}

.ContenidoModal {
    background-color: #44B7C8;
    border-radius: 3px;
    color: aliceblue;
    font-size: 36px;
    margin: 15% auto;
    padding: 20px;
    width: 50%;
    text-align: center;
    z-index: 2;
    position: absolute;
    top: 0;
}

#mainImg {
    width: 800px;
}

#imgWrapper {
    margin: 0 auto;
    text-align: center;
}

#main-Wrapper {
    margin: 0 auto;
    width: 800px;
}

#mainBtn {
    background-color:#D2B1E3;
    border-radius: 5px;
    color: black;
    font-size: 2em;
    height: 6vh;
    width: 6vh;
    z-index: 1;
    position: absolute;
    right: 50vw;
    left: 50vw;
    top: 50vh;
    span {
        position: relative;
    }
}

.block {
    display: block;
    width: 200px;
    height: 100%;
    border: 1px solid black;
    margin: 0;
    padding: 0;
}

#closeBtn {
    border: #74ac0d;
    cursor: pointer;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#block-Wrapper {
    width: 614px;
    position: absolute;
    top: 28vh;
    height: 300px;
    margin: 0 auto;
    right: 0px;
    left: 0px;
}

.block-1 {
    display: inline-block;
}
.block-2 {
    display: inline-block;
}
.block-3 {
    display: inline-block;
}